/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@import url(/resources/dialog.css);
@import url(/resources/ChooseIssue.css);

.grid-row > label:first-of-type {
  white-space: nowrap;
}

#watcherUsers label {
  display: inline-block;
  white-space: nowrap;
}


#relations {
  margin: 0 0 0.5em;
  padding: 0;
}

#relations:empty {
  display: none;
}

#relations li {
  margin: 0;
  padding: 0 0 0.5em;
}

#relations li button {
  margin-left: 0.5em;
}
